<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="wenjh.akit">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="wenjh.akit.common.cropimg.CropImageActivity"
            android:label="@string/crop_image"
            android:hardwareAccelerated="false"
            android:process=":image"
            android:screenOrientation="portrait" />

    </application>

</manifest>
