<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenjh.akit"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <application
        android:name="wenjh.akit.demo.AKitApplicationDemo"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon_dev"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" android:required="false" />

        <meta-data
            android:name="source"
            android:value="@string/market_source" />

        <activity
            android:name="wenjh.akit.demo.maintab.SplashActivity"
            android:clearTaskOnLaunch="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" 
            android:theme="@style/TransparentActionBarTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 不透明主题 -->
        <activity
            android:name="wenjh.akit.demo.maintab.MainTabActivity2"
            android:label="@string/main_activity_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEARCH" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.app.searchable"-->
                <!--android:resource="@xml/searchable" />-->
        </activity>
        
        <!-- 透明主题 -->
        <activity
            android:name="wenjh.akit.demo.maintab.MainTabActivity"
            android:label="@string/main_activity_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity> 
        <activity
            android:name="wenjh.akit.demo.img.ui.ImageBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActionBarTheme" />
        <activity
            android:name="wenjh.akit.demo.chat.ui.PeopleChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="wenjh.akit.demo.people.ui.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActionBarTheme" />
        <activity
            android:name="wenjh.akit.demo.account.ui.EditAccountProfileActivity"
            android:label="@string/edit_info"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="wenjh.akit.demo.account.ui.AccountSettingsActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />

        <receiver android:name="wenjh.akit.demo.PhonePowerOnReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="android.test.runner"
            android:required="false" />
    </application>

</manifest>
